.card{
  width: fit-content;
  position: relative;
  top: 80px;
  left: 280px;
}
.title{
  width: fit-content;
  position: relative;
  left: 600px;
}

@media screen and (max-width: 480px){

  #card{
    width: 1400px;
    height: 1350px;
    position: relative;
    top: 400px;
    right: 60px;
  }
  .cards{
    position: relative;
    top: 100px;
  }

}

@media screen and (min-width: 480px) and (max-width: 820px){
  #card{
    width: 2000px;
    height: 1350px;
    position: relative;
    top: 400px;
    right: 60px;
  }
  .cards{
    position: relative;
    top: 100px;
    left: 300px;
    width: fit-content;
    
  }
  .title{
    position: relative;
    left: 800px;
  }
}
@media screen and (min-width: 820px) and (max-width: 1480px){
  #card{
    width: 2000px;
    height: 1350px;
    position: relative;
    top: 400px;
    right: 60px;
  }
  .cards{
    position: relative;
    top: 100px;
    left: 300px;
    width: fit-content;
    
  }
  .title{
    position: relative;
    left: 800px;
  }

}
