.contact{
  position: relative;
  top: 30px;
  background-color:lavender;
  height: 600px;
}
.cont_img{
  width: '400px';
  height: '300px';
  display: inline-block;
  position: relative;
  top:100px;
  left: 200px;
  border-radius: 10px;
}
.cont_text{
  width: 500px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  left: 800px;
  bottom: 270px;
}
.h1f{
 
  position: relative;
  top: 50px;
  left: 650px;
  color: black;
  height: fit-content;
  width: fit-content;
 
}
input{
  margin-bottom: 10px;
  line-height: 40px;
  border-radius: 10px;
  border: 2px solid grey;
}

@media screen and (max-width: 480px){
  .contact{
    width: 1500px;
    height: 1400px;
  }
  .h1f{
 
  position: relative;
  top: 50px;
  left: 650px;
  color: black;
  height: fit-content;
 
}
  .cont_img{
  width: 800px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 150px;
  left: 350px;
}
.cont_text{
  width: 800px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 240px;
  left: 350px;
  
  
}
  
}

@media screen and (min-width: 480px) and (max-width: 820px){
  .contact{
    width: 2000px;
    height: 1000px;
  }
  .h1f{
 
  position: relative;
  top: 50px;
  left: 950px;
  color: black;
  height: fit-content;
 
}
  .cont_img{
  width: 1400px; 
  display: inline-block;
  position: relative;
  top: 350px;
  left: 350px;
}
.cont_text{
  width: 800px;
 display: inline-flex;
  position: relative;
  top: 0px;
  left: 950px;
  
  
}
.conta{
  position: relative;
  bottom: 100px;
  right: 40px;
}
}

@media screen and (min-width: 820px) and (max-width: 1480px){

  .contact{
    width: 2000px;
    height: 700px;
    font-size: x-large;
  }
  .h1f{
 
  position: relative;
  top: 50px;
  left: 950px;
  color: black;
  height: fit-content;
 
}
  .cont_img{
  width: 1400px; 
  display: inline-block;
  position: relative;
  top: 350px;
  left: 350px;
}
.cont_text{
  width: 800px;
 display: inline-flex;
  position: relative;
  top: 0px;
  left: 950px;
  
  
}
.conta{
  position: relative;
  bottom: 250px;
  right: 40px;
}

}